@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 9.02%;
    --foreground: 180 16.13% 93.92%;

    --card: 0 0% 9.02%;
    --card-foreground: 180 16.13% 93.92%;

    --popover: 180 16.13% 93.92%;
    --popover-foreground: 0 0% 9.02%;

    --primary: 155 59.8% 60.98%;
    --primary-foreground: 0 0% 9.02%;

    --secondary: 231 59.6% 61.18%;
    --secondary-foreground: 180 16.13% 93.92%;

    --muted: 180 16.13% 93.92%;
    --muted-foreground: 0 0% 100%;

    --accent: 155 59.8% 60.98%;
    --accent-foreground: 0 0% 9%;

    --destructive: 356 61.22% 61.57%;
    --destructive-foreground: 0 0% 9.02%;

    --border: 180 16.13% 93.92%;
    --input: 180 16.13% 93.92%;
    --ring: 0 0% 9.02%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 0 0% 9.02%;
    --sidebar-primary: 0 0% 9.02%;
    --sidebar-primary-foreground: 180 16.13% 93.92%;
    --sidebar-accent: 155 59.8% 60.98%;
    --sidebar-accent-foreground: 0 0% 9.02%;
    --sidebar-border: 180 16.13% 93.92%;
    --sidebar-ring: 155 59.8% 60.98%;

    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
